.video-player {
    max-height: 390px;
    max-width: 90vw;
    background-color: #fff;
    border: 1px solid #292929;
    border-radius: 20px;
}

.video-player svg {
    max-height: 390px;
    max-width: 90vw;
}

.video-player iframe {
    border-radius: 20px;
    max-width: 90vw;
    max-height: 390px;
}

@media all and (max-width: 900px) {
    .video-player {
        order: 1;
        max-width: 90vw;
    }
}   