form.add-video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    flex-flow: wrap;
    width: 100%;
}

form.add-video input {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #292929;
    border-radius: 4px;
    max-width: 90vw;
}

button.add-button {
    padding: 5px;
    font-size: 16px;;
}


